[Unit]
Description="Elder Scrolls Online addon manager and a Tamriel Trade Centre price table updater."
Wants=banana.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/banana
User=deck

[Install]
WantedBy=multi-user.target
