[Unit]
Description=Run banana daily and on boot.
Wants=banana.timer

[Service]
Type=oneshot
ExecStart=/home/deck/.local/bin/eso-banana-script
User=deck

[Install]
WantedBy=multi-user.target
