[Unit]
Description="Elder Scrolls Online addon manager and a Tamriel Trade Centre price table updater."
Wants=banana.timer

[Service]
Type=oneshot
ExecStart=/home/deck/.local/bin/banana.elf
User=deck

[Install]
WantedBy=multi-user.target
